@using System.Threading.Tasks
@using WebApp.Models
@model WebApp.ViewModels.Home.HomePageViewModel
@{
    ViewData["Title"] = "Главная";
    bool isCustomer = CustomerUser.FromSession(this.Context.Session) != null;
}
@inject WebApp.Services.AddressService AddressService
@{
    var multyDistrictList = new MultiSelectList(AddressService.CachedDistrictList(1), "Id", "Name", Model.Filter.DistrictListIds);
    var multyHouseTypeList = new MultiSelectList(AddressService.CachedHousingTypeList(1), "Id", "Name", Model.Filter.HousingTypeListIds);
}

<div class="ui container">
    <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        Your logo here
    </h2>

    <div class="ui grid">

        <div class="four wide column">
            <div class="ui sticky"  id="sticky" style="width: 400px; left: 0px;top:50px">
                <form class="ui form segment" asp-action="Filter">
                    <div class="ui center aligned">
                        <div class="field">
                            <label>Город</label>
                            <city-list city-id="@Model.Filter.CityId" disabled="@isCustomer" name="cityId" id="filter_cityId" class="filter_cityId"></city-list>
                        </div>
                        <div class="field" id="filter_district_container">
                            <label>Район</label>                           
                            <select disabled="@isCustomer" asp-for="@Model.Filter.DistrictListIds" asp-items="@multyDistrictList" class="ui fluid dropdown selection multiple" multiple="multiple" name="districtId" id="filter_DistrictId"></select>                        
                        </div>
                        <div class="field">
                            <label>Тип жилья</label>
                            <select disabled="@isCustomer" asp-for="@Model.Filter.HousingTypeListIds" asp-items="@multyHouseTypeList" name="houseTypeId"
                                    class="ui fluid dropdown selection multiple" multiple="multiple">
                            </select>
                        </div>
                        <div class="field">
                            <label>Цена, от</label>
                            <input type="text" name="priceFrom" value="@Model.Filter.MinCost" onkeypress="Utils.inputNumbersOnly(this, event);"/>
                        </div>
                        <div class="field">
                            <label>Цена, до</label>
                            <input type="text" name="priceTo" value="@Model.Filter.MaxCost" onkeypress="Utils.inputNumbersOnly(this, event);"/>
                        </div>
                        <input type="submit" value="Поиск" class="ui primary button fluid"/>
                        <a class="ui button fluid" asp-controller="Home" asp-action="Index">Сбросить</a>
                    </div>



                    <script type="text/javascript">
                        $(function() {
                            $('.filter_cityId')
                                .dropdown({
                                    onChange: function(value, text, $selectedItem) {

                                        Utils.loadDistrictSelectByCityId(value, '#filter_DistrictId');
                                    }
                                });
                        });
                    </script>

                </form>
                </div>
        </div>
        <div class="twelve wide column">
            <div class="ui container">

                @if (Model.Items.Count == 0)
                {
                    <div class="ui message success">По Вашему запросу ничего не найдено</div>

                }
                @foreach (var item in Model.Items)
                {
                    <div class="ui three column stackable grid segment">
                        <div class="four wide column">
                            <div class="ui">
                                <h3><i class="home icon"></i>@item.HouseType</h3>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui ">
                                <h3><i class="ruble icon"></i>@item.Price</h3>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui right aligned">
                                <i class="marker icon"></i> @($"{item.CityName} {item.District} {item.Street}") (<district district-id="@item.DistrictId"></district>)
                            </div>
                        </div>
                        <div class="ten wide column">
                            <div class="ui"><i class="write icon"></i> <span>@item.Description</span></div>
                        </div>
                        <div class="six wide column">
                            <div class="ui">
                                <i class="phone icon"></i>
                                @if (User.Identity.IsAuthenticated || isCustomer)
                                {
                                    <span>@item.Phone</span>
                                }
                                else
                                {
                                    <span>Номер телефона виден только зарегистрированному пользователю</span>
                                }

                            </div>
                        </div>
                    </div>
                }
                <pager total-pages="@Model.TotalPages" current-page='@Model.CurrentPage' link-url="@Context.Request.Path" query-params="@Context.Request.Query"></pager>

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
    $(function(){
        $('#sticky').sticky();
    });    
    </script>
}
