@model WebApp.ViewModels.Home.HomePageViewModel
@{
    ViewData["Title"] = "Главная";
}

<div class="ui container">
    <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        Your logo here
    </h2>

    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <form class="ui form segment" asp-action="Filter">
                    <div class="ui center aligned">
                        <div class="field">
                            <label>Город</label>
                            <city-list city-id="@Model.Filter.CityId" name="cityId" id="filter_cityId">
                                <option>Варопарп</option>
                            </city-list>
                        </div>
                        <div class="field" id="filter_district_container" style="display: none">
                            <label>Район</label>
                            <select name="disctict" id="filter_district" class="ui fluid normal dropdown">
                            </select>
                        </div>
                        <div class="field">
                            <label>Тип жилья</label>
                            <select asp-for="@Model.Filter.HousingTypeList" asp-items="@Model.Filter.HousingTypeList" name="houseTypeId" class="ui fluid dropdown" multiple="multiple">
                            </select>
                        </div>
                        <div class="field">
                            <label>Цена, от</label>
                            <input type="text" name="priceFrom" onkeypress="App.inputNumbersOnly(this, event);"/>
                        </div>
                        <div class="field">
                            <label>Цена, до</label>
                            <input type="text" name="priceFrom" onkeypress="App.inputNumbersOnly(this, event);"/>
                        </div>
                            <input type="submit" value="Поиск" class="ui primary button fluid" />
                        </div>


                  
                        <script type="text/javascript">
                            $(function () {
                                $('.dropdown')
                                  .dropdown({
                                    
                                      onChange: function (value, text, $selectedItem) {
                                          // custom action
                                          var filter_district_container = $('#filter_district_container');
                                          if (value && value.length > 0) {
                                              filter_district_container.show();
                                          } else {
                                              filter_district_container.val('');
                                              filter_district_container.hide();
                                          }
                                          App.loadDistrictSelectByCityId(value, '#filter_district');
                                      }
                                  })
                                ;
                                   /* $('#filter_cityId').change(function (e) {
                                        var cityId = $(this).val();
                                        var district = $('#filter_district');
                                        district.removeAttr('disabled');
                                        App.loadDistrictSelectByCityId(cityId, '#filter_district');
                                    });*/
                                });
                        </script>

                </form>
            </div>
            <div class="thirteen wide column">
                <div class="ui container">

                    @foreach (var item in Model.Items)
                    {
                        <div class="ui three column stackable grid segment">
                            <div class="four wide column">
                                <div class="ui">
                                    <h3><i class="home icon"></i>@item.HouseType</h3>
                                </div>
                            </div>
                            <div class="four wide column">
                                <div class="ui ">
                                    <h3><i class="ruble icon"></i>@item.Price</h3>
                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="ui right aligned">
                                    <i class="marker icon"></i> @($"{item.CityName} {item.District} {item.Street}")
                                </div>
                            </div>
                            <div class="ten wide column">
                                <div class="ui"><i class="write icon"></i> <span>@item.Description</span></div>
                            </div>
                            <div class="six wide column">
                                <div class="ui">
                                    <i class="phone icon"></i>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <span>@item.Phone</span>
                                    }
                                    else
                                    {
                                        <span>Номер телефона виден только зарегистрированному пользователю</span>
                                    }

                                </div>
                            </div>
                        </div>
                    }
                    <pager total-pages="@Model.TotalPages" current-page='@Model.CurrentPage' link-url="@Context.Request.Path" query-params="@Context.Request.Query"></pager>

                </div>
            </div>
        </div>
    </div>


</div>
