<!DOCTYPE html>
<html ng-app="RealEstateMVCApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebApp</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/css/site.css"/>
            <link rel="stylesheet" href="~/lib/semantic-ui/dist/semantic.css"/>
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/reset.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/site.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/container.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/grid.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/header.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/image.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/menu.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/divider.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/dropdown.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/segment.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/button.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/list.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/icon.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/sidebar.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/transition.css">
            <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/themes/base/jquery-ui.css">


            <link href="~/lib/pnotify/dist/pnotify.css" media="all" rel="stylesheet" type="text/css"/>
            <link href="~/lib/pnotify/dist/pnotify.brighttheme.css" media="all" rel="stylesheet" type="text/css"/>
            <style>
                .main.container {
                    margin-top: 4em;
                }
            </style>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">

            
            </script>

            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

            <script src="~/lib/jquery-ui/jquery-ui.js"></script>
            <script src="~/lib/notifyjs/dist/notify.js"></script>
            <script src="~/lib/pnotify/dist/pnotify.js"></script>
            <script src="~/lib/semantic-ui/dist/semantic.js"></script>
            <script src="~/Scripts/Utils.js"></script>
        </environment>
    </head>
    <body>
    <div class="ui fixed menu" id="topMenu">
        <div class="ui container">
            <a asp-controller="Home" asp-action="Index" class="header item">
                RealEstate CRM
            </a>
            <a class="item" asp-controller="Employee" asp-action="Index">Сотрудники</a>
            <a class="item" asp-controller="Housing" asp-action="Index">Объекты</a>
            <a class="item" asp-controller="BlackList" asp-action="Index">Черный список</a>
            <a class="item" asp-controller="Streets" asp-action="Index">Список улиц</a>
            <div class="ui simple dropdown item">
                Админка <i class="dropdown icon"></i>
                <div class="menu right">
                    <a class="item" asp-controller="Employee" asp-action="Index">Сотрудники</a>
                    <a class="item" asp-controller="Housing" asp-action="Index">Объекты</a>
                    <a class="item" asp-controller="BlackList" asp-action="Index">Черный список</a>
                    <a class="item" asp-controller="Streets" asp-action="Index">Список улиц</a>
                </div>
            </div>
            <div class="menu right">
                @await Html.PartialAsync("_LoginPartialSemanticUI")
            </div>
             <div class="menu" id="notifyBlock">
                
            </div>
        </div>
    </div>
    
        <!-- Page Contents -->
    <div class="ui main container" ng-view="">
        @if (TempData["CrmSuccessMessage"] != null)
        {
            <div class="ui success message">
                <i class="close icon"></i>
                <div class="header">@Html.Raw(TempData["CrmSuccessMessage"].ToString())</div>
                <!--<p>You may now log-in with the username you have chosen</p>-->
            </div>
        }
        @if (TempData["CrmErrorMessage"] != null)
        {
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">@Html.Raw(TempData["CrmErrorMessage"].ToString())</div>
                <!--<p>You may now log-in with the username you have chosen</p>-->
            </div>
        }

        @if (ViewBag.SectionTitle != null)
        {
            <h2 class="ui dividing header">@ViewBag.SectionTitle</h2>
        }
        @RenderBody()
    </div>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Sitemap</a>
                            <a href="#" class="item">Contact Us</a>
                            <a href="#" class="item">Religious Ceremonies</a>
                            <a href="#" class="item">Gazebo Plans</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Services</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Banana Pre-Order</a>
                            <a href="#" class="item">DNA FAQ</a>
                            <a href="#" class="item">How To Access</a>
                            <a href="#" class="item">Favorite X-Men</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Footer Header</h4>
                        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                    </div>
                </div>
            </div>
        </div>
            

            <environment names="Development">

                <script>
                    $('.ui.dropdown').not('.ui-ignore').dropdown();
                    $('.ui.checkbox').not('.ui-ignore').checkbox();

                    $(document).ready(function () {
                        $(".selectDateInput").datepicker({
                            "dateFormat": "dd.mm.yy",
                            changeMonth: true
                        });

                      /*  $("form").submit(function(event) {
                            //$('.input-validation-error').parents('div.field').eq(0).addClass('ui input error');
                            //$('.field-validation-error').addClass('ui label pointing red');

                            //$('.field-validation-valid').removeClass('ui label  pointing red');
                        });*/
                    });
                </script>
            </environment>

            @RenderSection("scripts", required: false)
            @RenderSection("editscripts", required: false)
</body>
</html>
