<!DOCTYPE html>
<html ng-app="RealEstateMVCApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebApp</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/semantic-ui/dist/semantic.css"/>
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/reset.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/site.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/container.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/grid.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/header.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/image.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/menu.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/divider.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/dropdown.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/segment.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/button.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/list.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/icon.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/sidebar.css">
            <link rel="stylesheet" type="text/css" href="~/lib/semantic-ui/dist/components/transition.css">
            <link rel="stylesheet" type="text/css" href="~/lib/jquery-ui/themes/base/jquery-ui.css">


            <link href="~/lib/pnotify/dist/pnotify.css" media="all" rel="stylesheet" type="text/css"/>
             <link href="~/lib/pnotify/dist/pnotify.brighttheme.css" media="all" rel="stylesheet" type="text/css" />
            <style>
                .main.container {
                    margin-top: 7em;
                  }
            </style>
        </environment>
    </head>
    <body>
    <div class="ui fixed menu" id="topMenu">
        <div class="ui container">
            <a href="#" class="header item">
                RealEstate CRM
            </a>
            <a href="#" class="item">Домашняя</a>
            <a class="item" asp-controller="Employee" asp-action="Index">Сотрудники</a>
            <a class="item" asp-controller="Housing" asp-action="Index">Объекты</a>

            <div class="ui simple dropdown item">
                Админка <i class="dropdown icon"></i>
                <div class="menu right">
                    <a class="item" asp-controller="Employee" asp-action="Index">Сотрудники</a>
                    <a class="item" asp-controller="Housing" asp-action="Index">Объекты</a>
                    <div class="divider"></div>
                    <div class="header">Header Item</div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Sub Menu
                        <div class="menu">
                            <a class="item" href="#">Link Item</a>
                            <a class="item" href="#">Link Item</a>
                        </div>
                    </div>
                    <a class="item" href="#">Link Item</a>
                </div>
            </div>
            <div class="menu right">
                @await Html.PartialAsync("_LoginPartialSemanticUI")
            </div>
             <div class="menu" id="notifyBlock">
                
            </div>
        </div>
    </div>
    
        <!-- Page Contents -->
    <div class="ui main container" ng-view="">
        @if (TempData["CrmSuccessMessage"] != null)
        {
            <div class="ui success message">
                  <i class="close icon"></i>
                  <div class="header">
                    @TempData["CrmSuccessMessage"]
                  </div>
                  <!--<p>You may now log-in with the username you have chosen</p>-->
                </div>
        }
        @RenderBody()
    </div>
            

            <environment names="Development">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery">
                
                </script>
                <script src="~/lib/jquery-ui/jquery-ui.js"></script>
                <script src="~/lib/notifyjs/dist/notify.js"></script>
                 <script src="~/lib/pnotify/dist/pnotify.js"></script>
                <script src="~/lib/semantic-ui/dist/semantic.js"></script>
                <script src="~/Scripts/Tools.js"></script>

                <script>
                    $('.ui.dropdown').dropdown();
                    $('.ui.checkbox').checkbox();

                    $(document).ready(function () {
                        $(".selectDateInput").datepicker({
                            "dateFormat": "dd.mm.yy",
                            changeMonth: true
                        });
                    });
                </script>
            </environment>

            @RenderSection("scripts", required: false)
            @RenderSection("editscripts", required: false)
</body>
</html>
