@using System.Web
@using Microsoft.AspNet.Http.Extensions
@using WebApp.ViewModels
@model WebApp.ViewModels.HousingIndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Список объектов</h2>

<p>
    <a asp-action="Create" class="ui button blue">Добавить новый объект</a>
</p>


<form class="ui form segment" asp-action="Filter">
    <div class="three fields">
        @Html.EditorFor(x => x.Filters.HousingTypeList)
        @Html.EditorFor(x => x.Filters.City)
        @Html.EditorFor(x => x.Filters.District)
    </div>

    <div class="three fields">
        @Html.EditorFor(x => x.Filters.MinCost, "int")
        @Html.EditorFor(x => x.Filters.MaxCost, "int")
        @Html.EditorFor(x => x.Filters.SelectedObjectId, "int")
    </div>

    @Html.EditorFor(x => x.Filters.IsArchived, "checkbox")
    <input type="submit" value="Применить фильтр" class="ui primary button"/>
    <input type="button" value="Сброс" class="ui button"/>
</form>

<h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Всего объектов в базе: @ViewBag.TotalItems Найдено: @ViewBag.FilteredItemsCount
</h4>

<pager total-pages="@Model.TotalPages" current-page='@Model.CurrentPage' link-url="@Context.Request.Path" query-params="@Context.Request.Query"></pager>

@foreach (var item in Model.Items)
{
    var archiveColorClass = item.IsArchived ? "secondary" : "";
    <div class="ui stackable two column grid segment @archiveColorClass">
        <div class="thirteen wide column">
            <div class="ui grid">
                <div class="four wide column">
                    <h3><i class="home icon"></i>@Html.DisplayFor(x => item.HouseType)</h3>
                </div>
                <div class="four wide column">
                    <h3><i class="ruble icon"></i>@Html.DisplayFor(x => item.Cost)</h3>
                </div>
                <div class="four wide column">
                    <i class="marker icon"></i> @Html.DisplayFor(x => item.FullAddress)
                </div>
                <div class="four wide column">
                    @Html.DisplayFor(x => item.Phone1)&nbsp;&nbsp;&nbsp;@Html.DisplayFor(x => item.Phone2)&nbsp;&nbsp;&nbsp;@Html.DisplayFor(x => item.Phone3)
                </div>
                <div class="ten wide column">
                    <i class="write icon"></i> <span>@Html.DisplayFor(x => item.Comment)</span>
                </div>
            </div>
        </div>
        <div class="two wide column right aligned">
            <div class="row column two">
                <a asp-action="Edit" asp-route-id="@item.EditId" class="ui button blue tiny">Редактировать</a>
                <a onclick='@($"$('#item{item.EditId}').modal('show');return false;")' class="ui button tiny">Подробности</a>
                @if (item.IsArchived) {
                    <a asp-action="FromArchive" asp-route-id="@item.EditId" class="ui button basic tiny">Из архива</a>
                } else {
                    <a asp-action="ToArchive" asp-route-id="@item.EditId" class="ui button basic tiny">В архив</a>
                }
                <a asp-action="Delete" asp-route-id="@item.EditId" class="ui button red tiny" onclick="return confirm('Вы уверены что хотите удалить запись?');">Удалить</a>
            </div>
        </div>
    </div>
    <div class="ui modal" id='@($"item{item.EditId}")'>
          <i class="close icon"></i>
          <div class="header">
            @Html.DisplayFor(x => item.HouseType)
          </div>
          <div class="content">
            <div class="description">
             @Html.DisplayFor(x => item.Comment)
            </div>
          </div>
          <div class="actions">
            <div class="ui black deny button">
              Закрыть
            </div>
            <div class="ui positive right labeled icon button">
              Yep, that's me
              <i class="checkmark icon"></i>
            </div>
          </div>
        </div>
}

<pager total-pages="@Model.TotalPages" current-page='@Model.CurrentPage' link-url="@Context.Request.Path" query-params="@Context.Request.Query"></pager>

