@model WebApp.ViewModels.HousingEditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action='@Model.EditId > 0 ? "Edit" : "Create"' class="ui form">
    <div class="form-horizontal">
        <h4>Housing</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.EditId"/>

        <div class="three fields">
            @Html.EditorFor(x => x.FirstName)
            @Html.EditorFor(x => x.MidleName)
            @Html.EditorFor(x => x.LastName)
        </div>
         <div class="three fields">
            @Html.EditorFor(x => x.Phone1)
            @Html.EditorFor(x => x.Phone2)
            @Html.EditorFor(x => x.Phone3)
        </div>
        @Html.EditorFor(x => x.Comment, "textarea")
        <div class="two fields">
             @Html.EditorFor(x => x.HouseType, "dropdown")
             @Html.EditorFor(x => x.Cost) 
        </div>
        <div class="three fields">
            @Html.EditorFor(x => x.Address.City, "dropdown")
            @Html.EditorFor(x => x.Address.District, "dropdown")
            @Html.EditorFor(x => x.Address.Street, "dropdown")
        </div>

        <div class="fields">
            @Html.EditorFor(x => x.Address.HouseNumber)
            @Html.EditorFor(x => x.Address.HouseBuilding)
            @Html.EditorFor(x => x.Address.Room)
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="ui primary button" /> <a asp-action="Index" class="ui button">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    
    <script type="text/javascript">
        $(function() {
            $('#Address_City_Id').change(function(e) {
                var cityId = $(this).val();
                
                $.ajax({
                    type: "GET",
                    url: "/api/rent/districtByCity?cityId=" + cityId,
                    data: {},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        var district = $("#Address_District_Id");
                        district.dropdown('clear');
                        var options = district.get(0).options;
                        options.length = 0;

                        $.each(msg, function(index, item) {
                            options.add(new Option(item.Text, item.Value));
                        });
                    },
                    error: function() {
                        alert("Failed to load genders");
                    }
                });
            });
        });
    </script>

}
