@model WebApp.Entities.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContractSum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractSum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateClosed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateClosed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateContract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateContract)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateMeeting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateMeeting)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSiteAccess)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSiteAccess)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxSum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxSum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MidleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MidleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinSum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinSum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReheshSum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReheshSum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resource)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
</body>
</html>
