@using WebApp.Entities
@model WebApp.ViewModels.CustomerEditModel
@inject WebApp.Services.AddressService AddressService
@{
    var multyDistrictList = new MultiSelectList(AddressService.CachedDistrictList(1), "Id", "Name", Model.DistrictList);
    var multyHouseTypeList = new MultiSelectList(AddressService.CachedHousingTypeList(1), "Id", "Name", Model.HousingTypeListIds);

    ViewData["Title"] = "Редактирование клиента";
    bool isEditMode = Model.EditId > 0;
}

<form asp-action='@isEditMode ? "Edit" : "Create"' class="ui form">
    <div class="form-horizontal">
        @if (isEditMode)
        {
            <h4>Редактирование клиента</h4>
        }
        else
        {
            <h4>Новый клиент</h4>
        }
        <hr/>
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <input type="hidden" asp-for="EditId"/>
        @Html.EditorFor(x => x.IsSiteAccess)
        <div class="four fields">
            @Html.EditorFor(x => x.FirstName)
            @Html.EditorFor(x => x.MidleName)
            @Html.EditorFor(x => x.LastName)
            <div class="field">
                <label asp-for="Gender"></label>
                <div>
                    <select asp-for="Gender">
                        <option value="0">Мужской</option>
                        <option value="1">Женский</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger" />
                </div>
            </div>
        </div>

        <div class="three fields">
            @Html.EditorFor(x => x.Phone1)
            @Html.EditorFor(x => x.Phone2)
            @Html.EditorFor(x => x.Phone3)
        </div>

        @Html.EditorFor(x => x.CityId)
        <div class="field" id="filter_district_container">
            <label>Район</label>
            <select asp-for="@Model.DistrictList" asp-items="@multyDistrictList"
                    class="ui fluid dropdown selection multiple" multiple="multiple"></select>

        </div>
        <div class="field">
            <label>@Html.LabelFor(x => x.HousingTypeListIds)</label>
            <select asp-for="@Model.HousingTypeListIds" asp-items="@multyHouseTypeList"
                    class="ui fluid dropdown selection multiple" multiple="multiple"></select>
        </div>

        <div class="four fields">

            <div class="field">
                <label asp-for="ContractSum"></label>
                <div>
                    <input asp-for="ContractSum" type="number" onclick="Utils.inputNumbersOnly(this, event);"/>
                    <span asp-validation-for="ContractSum" class="text-danger" />
                </div>
            </div>
            <div class="field">
                <label asp-for="MinSum"></label>
                <div>
                    <input asp-for="MinSum" type="number" onclick="Utils.inputNumbersOnly(this, event);"/>
                    <span asp-validation-for="MinSum" class="text-danger" />
                </div>
            </div>

            <div class="field">
                <label asp-for="MaxSum"></label>
                <div >
                    <input asp-for="MaxSum" type="number" onclick="Utils.inputNumbersOnly(this, event);"/>
                    <span asp-validation-for="MaxSum" class="text-danger" />
                </div>
            </div>

            <div class="field">
                <label asp-for="ReheshSum"></label>
                <div>
                    <input asp-for="ReheshSum" type="number" onclick="Utils
    .inputNumbersOnly(this, event);"/>
                    <span asp-validation-for="ReheshSum" class="text-danger" />
                </div>
            </div>
        </div>

        @Html.EditorFor(x => x.DateMeeting)
        <div class="field">
            <label asp-for="Status"></label>
            <div>
                <select asp-for="Status">
                    <option value="1">Реклама</option>
                    <option value="2">Договор</option>
                </select>
                <span asp-validation-for="Status" class="text-danger" />
            </div>
        </div>

        <div>
            @if (isEditMode)
            {
                <input type="submit" value="Сохранить" class="ui primary button"/>
            }
            else
            {
                <input type="submit" value="Добавить" class="ui primary button"/>
            }

            <a asp-action="Index" class="ui button">Вернуться к списку</a>
        </div>

    </div>
</form>
