@model WebApp.ViewModels.SteetMainModel

<p>
    <a asp-action="Create" class="ui button">Добавить</a>
</p>

<form class="ui form segment" asp-action="Filter">
    <div class="two fields">
        @Html.EditorFor(x => Model.Filter.Name, "string-search")
        @Html.EditorFor(x => Model.Filter.CityId)

    </div>
    <input type="submit" value="Применить фильтр" class="ui primary button"/>
    <a asp-action="Index" asp-route-id="1" class="ui button">Сброс</a>
</form>


@if (!Model.Items.Any())
{
    <div class="ui positive message">
        <div class="header">
            Информация
        </div>
        <p>По Вашему запросу не найдено записей!</p>
    </div>
}
else
{

    <pager total-pages="@ViewBag.TotalPages" current-page='@ViewBag.CurrentPage' link-url="@Context.Request.Path" query-params="@Context.Request.Query"></pager>
    <table class="ui single line table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Город</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Вы уверены что хотите удалить запись?');">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
<pager total-pages="@ViewBag.TotalPages" current-page='@ViewBag.CurrentPage' link-url="@Context.Request.Path" query-params="@Context.Request.Query"></pager>

@section scripts {
    <script type="text/javascript">
        $(function() {
            $('#Name_UI_Search').search({
                apiSettings: {
                    url: '/Streets/Search?q={query}'
                },
                minCharacters: 3
            });
        });
    </script>
}

