@using System.Threading.Tasks
@using WebApp.ViewModels
@model WebApp.ViewModels.EmployeeEditViewModel
@{
    ViewData["Title"] = "Редактирование";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Employee" asp-action="Edit" method="post" class="ui form" role="form">
    <h4>Редактирование карточки сотрудника</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    @Html.HiddenFor(x => x.EditId)
    @Html.DisplayFor(x => x.Email, "string-field")
    @Html.EditorFor(x => x.FIO)
    
    @Html.EditorFor(x => x.IsCreateHousing)
    @Html.EditorFor(x => x.IsEditHousing)
    @Html.EditorFor(x => x.IsDeleteHousiong)
    @Html.EditorFor(x => x.IsCreateCustomer)
    @Html.EditorFor(x => x.IsEditCustomer)
    @Html.EditorFor(x => x.IsDeleteCustomer)
    @Html.EditorFor(x => x.IsManageUsers)


    <div class="ui buttons">
        <button type="submit" class="ui button blue">Сохранить изменения</button>
        <button asp-action="Delete" asp-route-id="@Model.EditId" onclick="return confirm('Вы уверены что хотите удалить запись?');" class="ui button red">Удалить</button>
    </div>
    <a asp-action="Index" >Вернуться к списку</a>
</form>
