@model List<WebApp.ViewModels.EmployeeEditViewModel>

@{
    ViewData["Title"] = "Сотрудники";
}

<h2>Список сотрудников</h2>

<p>
    <a asp-action="Register" class="ui button blue">Добавить нового сотрудника</a>
</p>
<table class="ui single line table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Registration Date</th>
      <th>E-mail address</th>
        <th>Создание объектов</th>
        <th>Редактирование объектов</th>
        <th>Удаление объектов</th>
        <th></th>
    </tr>
  </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FIO</td>
            <td>@DateTime.Now.ToString()</td>
            <td>@item.Email</td>
            <td>@item.IsCreateHousing</td>
            <td>@item.IsEditHousing</td>
            <td>@item.IsDeleteHousiong</td>
            <td>
                 <div class="ui icon buttons">
                        <a asp-action="Edit" asp-route-id="@item.EditId" class="ui circular icon button basic  blue" title="Редактирование"><i class="edit icon"></i></a>

                        <a asp-action="Delete" asp-route-id="@item.EditId" class="ui button red tiny basic" onclick="return confirm('Вы уверены что хотите удалить запись?');" title="Удалить"><i class="trash icon"></i></a>
                    </div>
            </td>
        </tr>
    }
  
    </tbody>
 </table>
